
<div class="header-template header-template-2 {{showHeader ? 'show-header' : ''}}">
    <div class="header-template-2__video-container"
         ng-if="content.content.embed || getImage(content.content, 'main_image')">
        <div class="header-template-2__video">

            <background-video data-property="{
                  showControls: false,
                  videoURL:'https://www.youtube.com/watch?v={{getTranslateLang('field_video_id')}}',
                  containment:'.header-template-2__video',
                  autoPlay:true,
                  mute:true,
                  quality:'highres',
                  opacity:1,
                  loop:true,
                  showYTLogo:false,
                  stopMovieOnBlur: false
                  }" ng-if="content.content.embed">
            </background-video>

            <image_background_db
                ng-if="getImage(content.content, 'main_image')"
                filter_name="'header_template_2'"
                image="getImage(content.content, 'main_image')"
                img_class="header-template-2__image"
                class=""
                module="module"
                preload="true"
                alt="{{getAltText(content.content)}}">
            </image_background_db>

        </div>
    </div>

    <div class="container-fluid header-template-2__content-container">

        <div class="row">

            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center" ng-if="getTitle(content.content)">

                <h1 class="header-template-2__title" ng-bind-html="getTitle(content.content)"></h1>
                <h2 class="header-template-2__subtitle" ng-bind-html="content.content.subtitle"
                    ng-if="content.content.subtitle"></h2>
                <h3 class="header-template-2__intro" ng-bind-html="content.content.intro"
                    ng-if="content.content.intro"></h3>
                <h4 class="header-template-2__description" ng-bind-html="content.content.text"
                    ng-if="content.content.text"></h4>

                <p class="header-template-2__description"
                   ng-if="getTranslateLang('field_start_date')">

                    <span ng-bind-html="getTranslateLang('field_start_date') | date: 'MMM d'"></span>
                    -
                    <span ng-bind-html="getTranslateLang('field_end_date') | date: 'MMM d'"></span><br/>

                    <span ng-bind-html="getTranslateLang('field_start_date') | date: 'h:mm'"></span>
                    -
                    <span ng-bind-html="getTranslateLang('field_end_date') | date: 'h:mm'"></span> hs
                </p>

            </div>
        </div>
    </div>
</div>
