/* (c) 2017 Bravoure B.V. - bravoure.nl */
/* Header template 2 */

.header-template-2 {
    margin-top: 70px;
    min-height: 200px;
    padding: 30px 0;
    position: relative;

    @include respond-to(tablet) {
        margin-top: 84px;
        padding: 100px 0;
    }

    @include respond-to(desktop) {
        padding: 150px 0;
    }

    @include respond-to(desktop_big) {
        padding: 160px 0;
    }
}

.header-template-2__title {
    font-size: $title-size-small;
    line-height: $title-line-small;
    margin: 0;

    @include respond-to(tablet) {
        font-size: $title-size-medium;
        line-height: $title-line-medium;
    }

    @include respond-to(desktop) {
        font-size: $title-size-large;
        line-height: $title-line-large;
    }
}

.header-template-2__text {
    font-size: $title-size-small;
    line-height: $title-line-small;
    margin-top: 0;

    @include respond-to(tablet) {
        font-size: $title-size-medium;
        line-height: $title-line-medium;
        margin-top: 20px;
    }

    @include respond-to(desktop) {
        font-size: $title-size-large;
        line-height: $title-line-large;
    }
}

.header-template-2__subtitle {
    margin-top: 5px;
}

.header-template-2__video-container {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    bottom: 0;

    +.header-template-2__content-container {
        color: $white;
    }

    &:after {
        background: rgba(0,0,0,.3);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }
}

.header-template-2__video {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.header-template-2__content-container {
    position: relative;
    z-index: 2;
}

.header-template-2__image {

}
