
/*
    Header template user
*/

.header-template-4 {
    padding-top: 90px;

    @include respond-to(tablet) {
        padding-top: 100px;
    }

    @include respond-to(desktop) {
        padding-top: 150px;
    }

    @include respond-to(desktop_big) {
        padding-top: 180px;
    }

    .block__author-container {
        margin: 10px 0 30px 0;
    }

    .social__share {
        margin-top: 20px;
    }
}

.header-template-4__video {
    margin-bottom: 70px;

    .video-player__container {
        margin-top: 0;
    }
}

.header-template-4__image {
    margin-bottom: 70px;

    @include respond-to(tablet) {
        margin-bottom: 140px;
        min-width: 100%;
    }
}

.header-template-4__title {
    @include ff_opensans_bold();
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;

    @include respond-to(tablet) {
        font-size: 45px;
        line-height: 50px;
    }

    @include respond-to(desktop) {
        font-size: 48px;
        line-height: 53px;
    }

    @include respond-to(desktop_big) {
        font-size: 65px;
        letter-spacing: 0;
        line-height: 70px;
    }
}

.header-template-4__text {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;

    @include respond-to(tablet) {
        font-size: 45px;
        line-height: 50px;
    }

    @include respond-to(desktop) {
        font-size: 48px;
        line-height: 53px;
    }

    @include respond-to(desktop_big) {
        font-size: 65px;
        letter-spacing: 0;
        line-height: 70px;
    }
}
