
    <div class="container-fluid header-template-4">

        <div class="row">

            <div class="col-sm-12">

                <div ng-if="getTranslateLang('field_video_id')" class="header-template-4__video block__video">
                    <div ng-video-player
                         class="block__video-image"
                         poster="getImage('field_image')"
                         poster_filter_name="block_video_list"
                         type="'https://www.youtube.com/embed/'"
                         url="getTranslateLang('field_video_id')"
                         width="'100%'">
                    </div>
                </div>

                <div ng-if="!getTranslateLang('field_video_id') && getTranslateLang('field_image')">
                    <image-responsive-db
                        class="header-template-4__image img-responsive"
                        alt=""
                        image="{{getImage('field_image')}}"
                        filter_name="block_video">
                    </image-responsive-db>
                </div>

            </div>

            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">

                <h1 class="block__text-two-columns-title" ng-bind-html="titleForm"></h1>

            </div>

        </div>

    </div>
