
    <div class="header__template-error">

        <div class="header-template-error__video-container" ng-if="getTranslateLang('field_video_id') || getImage(content.content, 'mainImage')">

            <div class="header-template-error__btn-container anim-hide" when-visible="animateElementIn" data-anim-delay="1000" ng-if="getTranslateUrlLink('field_link')">
                <a ng-if="getTranslateUrlLink('field_link')"
                   ng-href="{{getTranslateUrlLink('field_link')}}"
                   link-target="{{getTranslateUrlLink('field_link')}}"
                   class="btn btn-primary btn-primary__home btn-arrow-white"
                   title="{{ getTranslateUrlTitle('field_link') }}">
                    {{ getTranslateUrlTitle('field_link') }}
                </a>

            </div>

        </div>

        <div class='brandbox'>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                        <div class="header-template-error-content">
                            <h1 class="header-template-error__title main__title anim-slide-below-fade anim-hide" when-visible="animateElementIn" data-anim-delay="200"
                                ng-bind-html="getTitle(content.content)" ng-if="getTitle(content.content)"></h1>

                            <h2 class="header-template-error__subtitle main__title anim-slide-below-fade anim-hide" when-visible="animateElementIn" data-anim-delay="300"
                                ng-bind-html="content.content.subtitle"
                                ng-if="content.content.subtitle"></h2>

                            <div class="header-template-error__intro anim-hide" when-visible="animateElementIn" data-anim-delay="400" ng-bind-html="content.content.intro"
                                 ng-if="content.content.intro"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
