
/*
    Header template error
*/

.header__template-error {
    box-sizing: border-box;
    color: $black;
    overflow: hidden;
    padding-top: 84px;
    position: relative;
}

.header-template-error-content {
    margin: 60px 0 40px;
    position: relative;
    text-align: center;
    z-index: 10;

    @include respond-to(tablet) {
        margin: 75px 0 100px;
    }

    @include respond-to(desktop) {
        margin: 80px 0 110px;
    }
}

.header-template-error__container {
    float: left;
    margin-bottom: 70px;
    padding-top: 100px;
    position: relative;

    @include respond-to(tablet) {
        padding-top: 140px;
    }

    @include respond-to(desktop) {
        margin-bottom: 140px;
        padding-top: 160px;
    }

    @include respond-to(desktop_big) {
        padding-top: 180px;
    }
}

.header-template-error__title {
    font-size: $title_big-size-small;
    line-height: $title_big-line-small;
    margin-bottom: 5px;

    @include respond-to(tablet) {
        font-size: $title_big-size-medium;
        line-height: $title_big-line-medium;
    }

    @include respond-to(desktop) {
        font-size: 60px;
        line-height: 70px;
    }
}

.header-template-error__subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;

    @include respond-to(tablet) {
        font-size: 24px;
        line-height: 33px;
    }

    @include respond-to(desktop) {
        font-size: 30px;
        line-height: 42px;
    }

    a {
        @include transition();
        color: $base-color-1;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.header-template-error__intro {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;

    @include respond-to(tablet) {
        font-size: 22px;
        line-height: 30px;
    }

    @include respond-to(desktop) {
        font-size: 24px;
        line-height: 38px;
    }

    a {
        @include transition();
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
