/* (c) 2017 Bravoure B.V. - bravoure.nl */
/* Header template Landing Pages */

.header-template-landing-page__video-container {
    box-sizing: border-box;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;

    @include respond-to(tablet) {
        height: 400px;
    }
}

.header-template-landing-page__video {
    height: 0;
    margin: auto;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;

    @include respond-to(tablet) {
        padding-bottom: 0;
        height: 652px;
        width: 637px;
    }
}

.header-template-landing-page__video-container {
}


.header-template-landing-pages__menu-nav {
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
}

.header-template-landing-pages__menu {
    display: table;
    padding: 20px 0;
    height: 70px;
    margin: auto;

    li {
        float: left;
        list-style: none;

        +li {
            a {
                padding: 20px 25px;
            }
        }

        a {
            color: $white;
            padding: 20px 25px 20px 0;
        }
    }
}
