
<div>
    <nav class="header-template-landing-pages__menu-nav loadedBackgroundColor">
        <!-- MENU -->
        <ul class="header-template-landing-pages__menu" ng-if="content.content.menu_status">
            <li ng-repeat="item in content.content.menu_items">

                <a ng-href="{{getLinkAbsolute('top.landing_pages.landing_subpages', { id: item.landing_page_id, slug: item.landing_page_slug, subpage_id: item.landing_subpage_id, subpage_slug: item.landing_subpage_slug })}}">
                    {{item.title}}
                </a>
            </li>
        </ul>
    </nav>

    <div class="header-template-landing-page__video-container loadedThemeHeaderBackground"
         ng-if="content.content.video_embed || getImage(content.content, 'main_image')">
        <div class="header-template-landing-page__video">

            <background-video data-property="{
                showControls: false,
                videoURL:'https://www.youtube.com/watch?v={{content.content.video_embed}}',
                containment:'.header-template-landing-page__video',
                autoPlay:false,
                mute:true,
                quality:'highres',
                opacity:1,
                loop:true,
                showYTLogo:false,
                stopMovieOnBlur: false
                }" ng-if="content.content.video_embed">
            </background-video>

            <image_background_db
                ng-if="getImage(content.content, 'main_image')"
                filter_name="'header_template_landing_page'"
                image="getImage(content.content, 'main_image')"
                img_class="header_template_landing_page"
                class=""
                module="module"
                preload="true"
                alt="{{getAltText(content.content)}}">
            </image_background_db>

        </div>
    </div>


   <!-- <div class="header__template-1">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <h1>
                        &lt;!&ndash; Logo &ndash;&gt;
                        <a ui-sref="{{vm.PATH_CONFIG.HOME_IDENTIFIER}}"
                           class="logo"
                           analytics-on
                           analytics-category="Navigation"
                           analytics-event="Click"
                           analytics-label="Logo">Paradiso</a>

                    </h1>

                </div>
            </div>
        </div>

    </div>-->



</div>
