/* (c) 2017 Bravoure B.V. - bravoure.nl */
/* Header template 3 */

.header-template-3__container {
    padding-top: 90px;
    top: 0;
    position: relative;
    width: 100%;

    @include respond-to(tablet) {
        padding-top: 100px;
    }

    @include respond-to(desktop) {
        padding-top: 150px;
    }

    @include respond-to(desktop_big) {
        padding-top: 180px;
    }
}

.header-template-3__title {
    font-size: $title_big-size-small;
    line-height: $title_big-line-small;
    margin-bottom: 0;
    margin-top: 30px;

    @include respond-to(tablet) {
        font-size: $title_big-size-medium;
        line-height: $title_big-line-medium;
        margin-top: 0;
    }

    @include respond-to(desktop) {
        font-size: $title_big-size-large;
        line-height: $title_big-line-large;
    }
}

.header-template-3__intro {
    font-size: $intro-size-small;
    line-height: $intro-line-small;
    margin-top: 0;

    @include respond-to(tablet) {
        font-size: $intro-size-medium;
        line-height: $intro-line-medium;
    }

    @include respond-to(desktop) {
        font-size: $intro-size-large;
        line-height: $intro-line-large;
    }
}

.header-template-3__text {
    font-size: $text-size-small;
    line-height: $text-line-small;
    padding: 0;

    @include respond-to(tablet) {
        font-size: $text-size-medium;
        line-height: $text-line-medium;
    }

    @include respond-to(desktop) {
        font-size: $text-size-large;
        line-height: $text-line-large;
        max-width: 460px;
    }
}

.header-template-3__image-container {
    float: right;
}

.header-template-3__image {
    width: 100%;

    @include respond-to(tablet) {
        width: 120%;
    }
}

.header-template-3__link {
    background: $base-color-2;
    color: $white;
    float: left;
    height: 55px;
    line-height: 55px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    width: 100%;

    @include respond-to(tablet) {
        padding: 0 35px;
        width: auto;
    }

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.header__color {
    background: orange;
    height: 400px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

